$primary:#ff8800;
$primary-hover:#b23301;
$secondary: #F8F8F8;
$gray:#ccc;
$white:#fff;
$black:#232323;
$red:#b22222;
// $secondary: #FFFFF0;	
//Transition
$smooth: all .3s ease-in-out;

// Colors
// $primary: #FE5F1E;
// $gray:#0a0808;

// Transition 
